
homework-*/data/

homework-*/html/

homework-*/pdf/

homework-*/checkpoints
homework-*/attack_data

.DS_Store
*/DS_Store

homework-2/Fashion-MNIST/code/__pycache__/*
homework-2/Fashion-MNIST/__pycache__/*
homework-2/Fashion-MNIST/*log*
homework-2/__pycache__

.vscode/settings.json

homework-2/code/__pycache__/
